<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="flex-conteiner"> 
        <img class="logo" src="img/logo-mercado-liebre.svg"  alt="Logo">
        <form action="" method="get">
            <label class="search-label" for="search-input">     
            <input
              type="text"
              name=""
              id=""
              placeholder="Buscar productos, marcas y mas..."
            />
            <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i></button>
            </label>
        </form>
          <div class="offer"><h3><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>Comprá en cuotas y sin tarjeta de credito</h3></div>
        </div>
          <div class="menu"> 
          <div class="ls1">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </div>
        <div class="ls2">
            <ul>
                <li><a href="#">Créa tu cuenta</a><i class="fa-regular fa-address-card" style="color: #000000;"></i></li>
                <li><a href="/login">Ingresa</a><i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-sharp fa-solid fa-basket-shopping" style="color: #000000;"></i></li>
            </ul>
        </div>
        </div>
        <div class="burger-menu" ><i class="fa-solid fa-bars"></i></div>
    </nav>
    <div class="banner"><img src="img/img-home-banner.jpg" alt=""></div>
    <main>
    <section class="register-form">
        <form action="" method="post">
        <label for="name">Registrate</label>
        <input type="text" name="name" id="name" placeholder="Nombre y apellido"/>
        <input type="text" name="user" id="user" placeholder="Nombre de usuario"/>
        <input type="email" name="email" id="email" placeholder="Correo electronico"/>
        <label for="">Fecha de nacimiento</label>
        <input type="date" name="date" id="date">
        <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
        <label for="">Perfil del usuario</label>
        <select name="perfil" id="perfil">
            <option value="comprador">Comprador</option>
            <option value="vendedor">Vendedor</option>
        </select>
        <label class="intereses" for="">Intereses</label>
        <div class="check">
        <div class="formcheck">
            <input type="checkbox" id="Electro" name="Electro">
            <label for="Electro">Electro</label>
        </div>
        <div class="formcheck">
            <input type="checkbox" id="Moda" name="Moda">
            <label for="Moda">Moda</label>
        </div>
        <div class="formcheck">
            <input type="checkbox" id="Hogar" name="Hogar">
            <label for="Hogar">Hogar</label>
        </div>
        <div class="formcheck">
            <input type="checkbox" id="Jugueteria" name="Jugueteria">
            <label for="Jugueteria">Juguetería</label>
        </div>
        <div class="formcheck">
            <input type="checkbox" id="Vidasana" name="Vidasana">
            <label for="Vidasana">Vida sana</label>
        </div>
        </div>
        <label for="userImage">Foto de usuario</label>
        <input type="file" name="userImage" id="userImage">
        <input type="password" name="password" id="password" placeholder="Contraseña"/>
        <input type="password" name="password" id="password" placeholder="Confirmar contraseña"/>
        <button class="boton boton1" type="submit">Enviar</button>
        <button class="boton boton2" type="reset">Restablecer</button>
        </form>
    </section>
    </main>
    <footer>
        <section>
        <div class="item">
        <i class="fa-solid fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
        </div>
        <div class="item">
        <i class="fa-solid fa-gift"></i>
        <h3>Envío gratis desde $2.500</h3>
        <p>Solo por estar registrad@ en MercadoLiebre tenés envíos gratís en miles de productos. Es un beneficio de MercadoPuntos.</p>
        </div>
        <div class="item">
        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.</p>
        </div>
        </section>
        <div class="copy"><h4>Copyright 1999-2020 MercadoLiebre S.R.L</h4></div>
    </footer>
</body>
</html>